<div class="container py-5">
  <h1 class="mb-4">Import Companies (CSV)</h1>

  <%= form_with url: admin_companies_path, multipart: true, method: :post, class: "row gy-3" do |f| %>
    <div class="col-12">
      <%= f.file_field :file, accept: ".csv", class: "form-control" %>
    </div>
    <div class="col-12">
      <%= f.submit "Import", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>